@{
    ViewBag.Title = "Dashboard";
}
<style type="text/css">
    td > .two-decimals, .four-decimals {
        min-width: 70px !important;
    }

    th {
        vertical-align: middle;
        text-align: center;
    }

    td {
        vertical-align: middle;
        text-align: center;
        padding: 0px !important;
    }

        td > .form-control {
            border-color: transparent;
        }

    h4 {
        margin-top: 3px;
        margin-bottom: 3px;
    }

    .form-group {
        margin-bottom: 2px !important;
    }

    .control-label {
        padding-top: 3px !important;
    }

    .input-sm {
        height: 25px !important;
    }

    .input-group-addon {
        padding: 3px 8px !important;
        min-width: 35px;
    }

    .select2-container.input-sm .select2-choice, .input-group-sm .select2-container .select2-choice {
        height: 27px !important;
    }

    .box-body, .box-header {
        padding-top: 5px;
        padding-bottom: 3px;
    }
</style>

<section class="content-header">
    <span style="font-size:18px">Dashboard&nbsp;</span>
</section>

<!-- /.content -->